{% extends 'base.html' %}

{% load static %}

{% block title %}
Login 
{% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
  <div class="global-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Login to MySchool</h3>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <div class="card-text">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="text" name="email" class="form-control form-control-sm" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <a href="{% url 'reset_pass_send_email' %}" style="float:right;font-size:12px;">Forgot password?</a>
              <input type="password" name="password" class="form-control form-control-sm" required>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  
            <div class="sign-up">
              Don't have an account? <a href="{% url 'register' %}">Create One</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}