{% extends 'user.html' %}
{% load static %}
{% block title %}
Welcome {{user.first_name}}
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center">
        <h3 class="customtext" style="color:rgb(19, 20, 20)">
          Send Message Admin
        </h3>
      </div>
    </div>
  </div>
</div>
<section class="paralax-mf footer-paralax bg-image sect-mt route" style="background-image: url(img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div>
                  <form action="" method="post" role="form" class="contactForm">
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Section Contact-footer End /-->

{% endblock %}

{% block scripts %}
<script src="{% static 'js/plugins/jquery.mask.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}