{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
<div class="global-container">
	<div class="card login-form">
		<div class="card-body">
			<h3 class="card-title text-center">Reset Password</h3>
			<div class="card-text">
                <p class="text-center">Please Enter the email</p>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}		
                <div class="text-center">
                    <form action="{% url 'reset_password_form' get_token %}" method="post">
                        {% csrf_token %}
                        <label for="pass1">Password</label>
                        <input class="form-control" type="password" name="pass1" value="" required/>
                        <label for="pass2">Confirm Password</label>
                        <input class="form-control" type="password" name="pass2" value="" required/>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}