{% extends 'admin.html' %}

{% block title %} 
Admin Page
{% endblock %}

{% block admintitle %}
    {{user.username}}
{% endblock %}

{% block content %}
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </div>

  <div class="row mb-3">
    <!-- Teachers -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Teachers</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">110ta</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-tie fa-2x text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Comments</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{  comments | length}}</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                {% if todaycomments %}
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> + {{todaycomments}}</span>
                  <span>Since yesterday</span>
                {% else %}
                  <span class="text-success mr-2"> 0</span>
                  <span>Since yesterday</span>
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Schools -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Schools</div>
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{school_num}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-school fa-2x text-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Online Applications -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">Online applications</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{all_applies}}</div>
              <div class="mt-2 mb-0 text-muted text-xs">
                {% if todayapplies %}
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> + {{todayapplies}}</span>
                  <span>Since yesterday</span>
                {% else %}
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> + 0</span>
                  <span>Since yesterday</span>
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-file fa-2x text-warning"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Monthly Users </h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Pie Chart -->
    <div class="col-xl-4">
      <div class="">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Registrated Users</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Month <i class="fas fa-chevron-down"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Select Periode</div>
                <a class="dropdown-item" href="#">Today</a>
                <a class="dropdown-item" href="#">Week</a>
                <a class="dropdown-item active" href="#">Month</a>
                <a class="dropdown-item" href="#">This Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <span class="text-success mr-2 text-center">{{todayusers}}</span>
          </div>
          <div class="card-footer text-center">
            <a class="m-0 small text-primary card-link" href="#">View More 
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Message From Customer-->
      <div class="">
        <div class="card">
          <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-light">Message From Customer</h6>
          </div>
          <div>
            <div class="customer-message align-items-center">
              <a class="font-weight-bold" href="#">
                <div class="text-truncate message-title">Hi there! I am wondering if you can help me with a
                  problem I've been having.</div>
                <div class="small text-gray-500 message-time font-weight-bold">Udin Cilok · 58m</div>
              </a>
            </div>
            <div class="customer-message align-items-center">
              <a href="#">
                <div class="text-truncate message-title">But I must explain to you how all this mistaken idea
                </div>
                <div class="small text-gray-500 message-time">Nana Haminah · 58m</div>
              </a>
            </div>
            <div class="customer-message align-items-center">
              <a class="font-weight-bold" href="#">
                <div class="text-truncate message-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </div>
                <div class="small text-gray-500 message-time font-weight-bold">Jajang Cincau · 25m</div>
              </a>
            </div>
            <div class="customer-message align-items-center">
              <a class="font-weight-bold" href="#">
                <div class="text-truncate message-title">At vero eos et accusamus et iusto odio dignissimos
                  ducimus qui blanditiis
                </div>
                <div class="small text-gray-500 message-time font-weight-bold">Udin Wayang · 54m</div>
              </a>
            </div>
            <div class="card-footer text-center">
              <a class="m-0 small text-primary card-link" href="#">View More <i
                  class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
